.button {
  padding: 10px;
  display: block;
  border: 0;
  font: inherit;
  font-size: .5rem;
  background-color: $white;
  color: $dark;
  border-radius: $radius;
  text-decoration: none;

  transition: background-color .5s ease;

  &:hover,
  &:active {
    background-color: $silver;
  }

  &_submit {
  }

  &_right {
    margin-left: 1px;
    border-radius: 0 $radius $radius 0;
  }

  &_left {
    margin-right: 1px;
    border-radius: $radius 0 0 $radius;
  }
}