

.calculator {
  align-items: center;
  justify-content: center;
  color: $white;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 5px;
  font-size: 100px;

  &__input {
    color: inherit;
    grid-column: span 3;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5px);
    border: 1px solid $blue;
    transition: box-shadow .6s ease, background-color .6s ease;
    border-radius: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.26);
      box-shadow: 0 0 2px black;
    }
  }

  &__submit {
    color: inherit;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5px);
    border: 1px solid $blue;
    transition: box-shadow .6s ease, background-color .6s ease, transform 5s ease;
    border-radius: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.26);
      box-shadow: 0 0 2px black;
    }

    &:active {
      transform: scale(1.1);
      transition: transform .1s ease;
    }
  }

  &__button {
    color: inherit;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5px);
    border: 1px solid $blue;
    transition: box-shadow .6s ease, background-color .6s ease, transform 5s ease;
    border-radius: 5px;

    &_span_2 {
      grid-column: span 2;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.26);
      box-shadow: 0 0 2px black;
    }

    &:active {
      transform: scale(1.1);
      transition: transform .1s ease;
    }
  }
}