.dynamic-content {
  color: $white;

  &__form {
    display: flex;
    flex-direction: row;
    min-height: 45px;
    max-width: 500px;
  }

  &__title {
    font-size: .7rem;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  &__entered-text {
    margin-left: 20px;
    word-wrap: break-word;
  }
}