.feedback {
  color: $white;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form {
    max-width: 500px;
    width: 100%;
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  &__type-of-appeal-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  &__message {
    border-radius: $radius;
    max-width: 500px;
    width: 100%;
    resize: vertical;

    padding: 10px;
    display: block;
    border: 0;
    font: inherit;
    font-size: .5rem;
    background-color: $white;
    margin-bottom: 30px;

    transition: background-color .5s ease;

    &:hover {
      background-color: $silver;
    }
  }

  &__text {
    margin-top: 30px;
    font-size: .7rem;
    margin-bottom: 5px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__label-for-radio {
    font-size: .6rem;
    margin-bottom: 5px;
    cursor: pointer;

    transition: color 1s ease;

    &:hover {
      color: $silver;
    }
  }

  &__input {
    margin-bottom: 10px;
  }
}