.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  min-height: 30px;
  width: 100%;
  background-color: $secondary;
  font-size: .5rem;
  border-top: 1px solid $grey;

  &__copyright {
    color: $grey;
  }
}