.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  height: $header-width;
  font-size: 1rem;
  background: linear-gradient(45deg, $blue, $blue-100);
  border-bottom: 1px solid $white;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    display: block;
    align-self: flex-end;

    transition: opacity 1s ease;

    &:hover {
      opacity: .6;
    }
  }

  &__text {
    font-size: .8rem;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}