.input {
  padding: 10px;
  display: block;
  border: 0;
  font: inherit;
  font-size: .5rem;
  background-color: $white;
  width: 100%;
  border-radius: $radius;

  transition: background-color .5s ease;

  &:hover {
    background-color: $silver;
  }

  &_text {
  }

  &_left {
    margin-right: 1px;
    border-radius: $radius 0 0 $radius;
  }
}