.section {
  width: 100%;
  margin: 50px 0;
  min-height: 100px;
  padding: 100px 0;
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
  background: linear-gradient(45deg, $blue, $blue-100);
}