/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v29-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/roboto-v29-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v29-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v29-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v29-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v29-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/roboto-v29-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v29-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v29-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/roboto-v29-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-v29-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-v29-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-v29-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}