@import "_variables";
@import "_global";
@import "_fonts";
@import "_mixins";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $secondary;
  @include main-fonts;
}

@import "blocks/_header";
@import "blocks/_main";
@import "blocks/_section";
@import "blocks/_footer";

@import "blocks/_dynamic-content";
@import "blocks/_input";
@import "blocks/_button";
@import "blocks/_feedback";
@import "blocks/_calculator";