.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.container-m {
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  max-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/roboto-v29-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-300.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-300.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-300.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v29-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-regular.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-v29-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-700.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-700.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/roboto-v29-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-900.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-900.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #292929;
  font-family: "Roboto", "sans-serif";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  height: 60px;
  font-size: 1rem;
  background: linear-gradient(45deg, #13547a, #80d0c7);
  border-bottom: 1px solid #ffffff;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  display: block;
  align-self: flex-end;
  transition: opacity 1s ease;
}
.header__logo:hover {
  opacity: 0.6;
}
.header__text {
  font-size: 0.8rem;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main {
  padding-top: 60px;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  margin: 50px 0;
  min-height: 100px;
  padding: 100px 0;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: linear-gradient(45deg, #13547a, #80d0c7);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  min-height: 30px;
  width: 100%;
  background-color: #292929;
  font-size: 0.5rem;
  border-top: 1px solid #4e4e4e;
}
.footer__copyright {
  color: #4e4e4e;
}

.dynamic-content {
  color: #ffffff;
}
.dynamic-content__form {
  display: flex;
  flex-direction: row;
  min-height: 45px;
  max-width: 500px;
}
.dynamic-content__title {
  font-size: 0.7rem;
  margin-top: 40px;
  margin-bottom: 5px;
}
.dynamic-content__entered-text {
  margin-left: 20px;
  word-wrap: break-word;
}

.input {
  padding: 10px;
  display: block;
  border: 0;
  font: inherit;
  font-size: 0.5rem;
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
.input:hover {
  background-color: #d0d0d0;
}
.input_left {
  margin-right: 1px;
  border-radius: 5px 0 0 5px;
}

.button {
  padding: 10px;
  display: block;
  border: 0;
  font: inherit;
  font-size: 0.5rem;
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
.button:hover, .button:active {
  background-color: #d0d0d0;
}
.button_right {
  margin-left: 1px;
  border-radius: 0 5px 5px 0;
}
.button_left {
  margin-right: 1px;
  border-radius: 5px 0 0 5px;
}

.feedback {
  color: #ffffff;
}
.feedback__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback__form {
  max-width: 500px;
  width: 100%;
}
.feedback__title {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.feedback__type-of-appeal-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 30px;
}
.feedback__message {
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  resize: vertical;
  padding: 10px;
  display: block;
  border: 0;
  font: inherit;
  font-size: 0.5rem;
  background-color: #ffffff;
  margin-bottom: 30px;
  transition: background-color 0.5s ease;
}
.feedback__message:hover {
  background-color: #d0d0d0;
}
.feedback__text {
  margin-top: 30px;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.feedback__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.feedback__label-for-radio {
  font-size: 0.6rem;
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 1s ease;
}
.feedback__label-for-radio:hover {
  color: #d0d0d0;
}
.feedback__input {
  margin-bottom: 10px;
}

.calculator {
  align-items: center;
  justify-content: center;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 5px;
  font-size: 100px;
}
.calculator__input {
  color: inherit;
  grid-column: span 3;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(5px);
  border: 1px solid #13547a;
  transition: box-shadow 0.6s ease, background-color 0.6s ease;
  border-radius: 5px;
}
.calculator__input:hover {
  background-color: rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 2px black;
}
.calculator__submit {
  color: inherit;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(5px);
  border: 1px solid #13547a;
  transition: box-shadow 0.6s ease, background-color 0.6s ease, transform 5s ease;
  border-radius: 5px;
}
.calculator__submit:hover {
  background-color: rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 2px black;
}
.calculator__submit:active {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
.calculator__button {
  color: inherit;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(5px);
  border: 1px solid #13547a;
  transition: box-shadow 0.6s ease, background-color 0.6s ease, transform 5s ease;
  border-radius: 5px;
}
.calculator__button_span_2 {
  grid-column: span 2;
}
.calculator__button:hover {
  background-color: rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 2px black;
}
.calculator__button:active {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}

/*# sourceMappingURL=style.css.map */
